.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.code-workspace

# Since the code editor that I mainly use is vscode the only folder 
# git needed to block was the .vscode folder and all of its files
